@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: rgb(245 245 245);
  font-family: "Roboto", sans-serif;
}

.cart__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 1rem;
  margin-bottom: 50px;
}

.cart__wrapper {
  display: flex;
  justify-content: center;
}

.brand__link {
  color: #fff;
  list-style: none;
  border: none;
  text-decoration: none;
}
.sub__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_cart_btm {
  text-transform: capitalize !important;
  
}
.search__input {
  background: #fff;
  padding: 4px 22px;
  border-radius: 4px;
}
.total__section {
  width: 350px;
  position: fixed;
  padding: 25px;

  right: 30px;
  top: 20;
  top: 90px;
}
.checkout__btn {
  width: 100%;
}
.amount_texes {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  max-width: 180px;
}

.total_item_content {
  top: 29% !important;
  right: 30px !important;
}
.total_amount_content {
  top: 60% !important;
  right: 30px !important;
}

@media only screen and (max-width: 414px) {
  .cart__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    grid-gap: 1rem;
  }
  .cart__name__price {
    width: 72px !important;
  }

  .total__section {
    width: 82%;
    position: relative;
    padding: 20px;
    /* top: 20; */
    margin: 15px 16px;
    right: 0px;
    top: 0px;
  }
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #f50057;
  border-color: #f50057;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #f50057;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #f50057;
  border-color: #f50057;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #f50057;
  border-radius: 50%;
  margin: 0 4px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
  border: none;
}

/* shopping cart */
.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  /* background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center; */
}

.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  /* background: url('twitter-heart.png'); */
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}
.is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}
.image {
  margin-right: 50px;
}

/* Let’s add some basic style to  product name and description. */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

button[class*="btn"] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline: 0;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}

.view__cart {
  display: flex;
  align-items: center;
}
.custome__cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
}
.cart__name__price {
  max-width: 130px;
  width: 120px;
}
